@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@{
    Html.AddScriptParts("~/Scripts/jquery.magnific-popup.min.js");
    Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");
}
<div class="gallery">
    <div class="picture">
        @if (Model.DefaultPictureZoomEnabled)
        {
            <a href="@Model.DefaultPictureModel.FullSizeImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-lightbox-anchor-@Model.Id" rev="lightbox[gr1]">
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />
            </a>
        }
        else
        {
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />
        }
    </div>
    @if (Model.PictureModels.Count > 1)
    {
        <div class="picture-thumbs">
            @{
                var i = 1;
            }
            @foreach (var picture in Model.PictureModels)
            {
                if (@Model.DefaultPictureModel.FullSizeImageUrl != @picture.FullSizeImageUrl)
                {
                    <span class="thumb-popup-link-wrap">
                        <a class="thumb-popup-link" href="@picture.FullSizeImageUrl" title="@picture.Title" rev="lightbox[gr1]">
                            <img src="@picture.ImageUrl" alt="@picture.AlternateText" title="@picture.Title" />
                        </a>
                        <a href="@picture.FullSizeImageUrl" title="@picture.Title" rev="lightbox[gr1]">
                            @if (@picture.Title != @Model.DefaultPictureModel.Title)
                        {
                                @picture.Title
                            }
                            else
                            {
                                @("Pic") @i
                            }
                        </a>
                    </span>
                    i = i + 1;
                }
            }
        </div>
                }
</div>