@model ProductDetailsModel
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-product-details-page");

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }
}
<!--product breadcrumb-->
@Html.Widget("productdetails_after_breadcrumb", Model.Id)
<div class="page product-details-page">
    <div class="page-body">
        <div id="sdet1a">
            <div id="sdet2">
                <div id="sdet3" class="clearfix">
                    <div class="c2">
                        <h1 itemprop="name">
                            @Model.Name
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_ProductBreadcrumb", Model.Breadcrumb)
        @Html.Widget("productdetails_top", Model.Id)
        @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
        {
            <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id" id="itemDiv">
                <div class="product-essential">
                    @Html.Widget("productdetails_before_pictures", Model.Id)
                    <!--product pictures-->
                    @Html.Partial("_ProductDetailsPictures", Model)
                    @Html.Widget("productdetails_after_pictures", Model.Id)
                    <div class="overview">
                        @Html.Partial("_Discontinued", Model)
                        @if (!String.IsNullOrEmpty(Model.ShortDescription))
                        {
                            <div class="short-description">
                                @Html.Raw(Model.ShortDescription)
                            </div>
                        }
                        @Html.Widget("productdetails_overview_top", Model.Id)
                        <div class="iord1">
                            <div class="iord2">
                                <div class="iord3">
                                    <script language="JavaScript" type="text/javascript">var ranges0 = new Array(); var qtyvalue0 = 1; var optionvalue0 = new Array(); var ipr0 = 14; calcitems = 0; </script>
                                    <div class="c2">
                                        <div class="c2In">
                                            <div class="line"><strong>Item code:</strong> @Model.Sku</div>
                                            <!--attributes-->
                                            @{
                                                var dataDictAttributes = new ViewDataDictionary();
                                                dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                                                @Html.Partial("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
                                            }
                                            <!--availability-->
                                            @Html.Partial("_Availability", Model)
                                        </div>
                                    </div>
                                    <div class="c3">
                                        <div class="prDiv">
                                            <!--price & add to cart-->
                                                    @{
                                                        var dataDictPrice = new ViewDataDictionary();
                                                        dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                                                        @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)
                                                        @Html.Partial("_ProductTierPrices", Model.TierPrices)
                                                    }


                                                @{
                                                    var dataDictAddToCart = new ViewDataDictionary();
                                                    dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                                    @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)
                                                }
                                        </div>
                                    </div>

                                    <br clear="all"><div style="height:1px;"><img src="http://site.1-800-porcelain.com/i1/t-p.gif"></div>
                                    <script language="JavaScript">
                                        updateall('0');
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="but1"><div class="but2"><div class="but3">
                        <script language="javascript">itemzip="11101";itemweight='1'; itemcity='Long Island City';</script>
                            <a href="javascript:void(0)" class="item-but" onclick="quant=document.multiorder.vwquantity0.value;ShippingCostEstimator();return true" onmouseover="status='Shipping cost estimator';return true" onmouseout="status='';return true">Shipping cost estimator</a>
                            <a href="javascript:print()" class="item-but">Print this page</a>
                            <a href="javascript:void(0)" class="item-but" onclick="javascript:window.open('/lib/lomonosov-porcelain/deliverydates.html','','top=20,left=20,height=500,width=790,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes')" onmouseover="window.status='When will my order arrive?';return true" onmouseout="window.status=''">When will my order arrive?</a></div></div></div>
                        <!--product reviews-->
                        @Html.Partial("_ProductReviewOverview", Model.ProductReviewOverview)
                        <!--manufacturers-->
                        @*@Html.Partial("_ProductManufacturers", Model.ProductManufacturers)*@
                        <!--SKU, MAN, GTIN, vendor-->
                        @Html.Partial("_SKU_Man_GTIN_Ven", Model)
                        <!--delivery-->
                        @Html.Partial("_DeliveryInfo", Model)
                        <!--sample download-->
                        @Html.Partial("_DownloadSample", Model)
                        <!--gift card-->
                        @{
                            var dataDictGiftCard = new ViewDataDictionary();
                            dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
                            @Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                        }
                        <!--rental info-->
                        @{
                            var dataDictRental = new ViewDataDictionary();
                            dataDictRental.TemplateInfo.HtmlFieldPrefix = string.Format("rental_{0}", Model.Id);
                            @Html.Partial("_RentalInfo", Model, dataDictRental)
                        }
                        <!--wishlist, compare, email a friend-->
                        <div class="overview-buttons">
                            @Html.Widget("productdetails_inside_overview_buttons_before", Model.Id)
                            @{
                                var dataDictAddToWishlist = new ViewDataDictionary();
                                dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                @Html.Partial("_AddToWishlist", Model.AddToCart, dataDictAddToWishlist)
                            }
                            @Html.Partial("_CompareProductsButton", Model)
                            @Html.Partial("_ProductEmailAFriendButton", Model)
                            @Html.Widget("productdetails_inside_overview_buttons_after", Model.Id)
                        </div>
                        @Html.Partial("_ShareButton", Model)
                        @Html.Widget("productdetails_overview_bottom", Model.Id)

                        @if (!String.IsNullOrEmpty(Model.FullDescription))
                        {
                            <div class="desc-ttl">@T("Products.FullDescriptionTitle")</div>
                            <div class="full-description" itemprop="description">
                                @Html.Raw(Model.FullDescription)
                            </div>
                        }
                    </div>
                </div>
                <div class="codeWrap">Code:&nbsp; &nbsp; &nbsp; &nbsp; @Model.Sku<br>Product:&nbsp; &nbsp;	@Model.Name</div>

                @Html.Action("RecentlyViewedProductsBlock", "Product", new { productThumbPictureSize = 86 })
                @Html.Widget("productdetails_before_collateral", Model.Id)
                <div class="product-collateral">
                    @Html.Partial("_ProductSpecifications", Model.ProductSpecifications)
                    @Html.Partial("_ProductTags", Model.ProductTags)
                </div>
                @Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })
                @Html.Action("RelatedProducts", "Product", new { productId = Model.Id })
            </div>
                                }
        @Html.Widget("productdetails_bottom", Model.Id)
    </div>
</div>
