@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

<div id="htsText">Visit our other website: <a href="http://www.holytrinitystore.com/" title="http://www.holytrinitystore.com/ - Orthodox Christian icons, Silver & Gold crosses, religious gifts" target="_blank"><img src="http://site.1-800-porcelain.com/i1/t-p.gif" alt="" width="163" height="26" align="absmiddle" /></a></div>
<div id="wrap">
    <div id="wrapIn">
        <div id="wrapIn1">
            <div class="master-wrapper-page">
                @Html.Action("AdminHeaderLinks", "Common")
                @Html.Action("Header", "Common")
                <script type="text/javascript">
                    AjaxCart.init(false, '.header-links-wrapper .cart-qty', '.header-links .wishlist-qty', '#flyout-cart-wrap');
                </script>
                <div class="header-menu clearfix">
                    @Html.Action("TopMenu", "Catalog")
                </div>
                <div class="master-wrapper-content">
                    @Html.Widget("content_before")

                    @if (IsSectionDefined("Breadcrumb"))
                    {
                        @RenderSection("Breadcrumb")
                    }
                    <div class="master-column-wrapper">
                        @RenderBody()
                    </div>
                    @Html.Widget("content_after")
                </div>
                @Html.Action("Footer", "Common")
            </div>
        </div>
    </div>
</div>
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")
