@model Nop.Web.Models.Common.Header
@Html.Widget("header")
<div id="topDiv" class="header">
    <div id="topDiv1">
        <div class="header-selectors-wrapper">
            @Html.Action("TaxTypeSelector", "Common")
            @*@Html.Action("CurrencySelector", "Common")*@
            @*@Html.Action("LanguageSelector", "Common")*@
            @Html.Widget("header_selectors")
        </div>
        <div class="header-upper">
            <div class="header-links-wrapper">
                @Html.Action("HeaderLinks", "Common")
                @Html.Action("FlyoutShoppingCart", "ShoppingCart")
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.HeaderPhone))
            {
            <div id="topText"><div id="tnText">@Model.HeaderPhone</div></div>
        }

        <div id="logo"><a href="/"><img src="/Themes/800-Porcelain/Content/i1/logo.jpg" alt="1-800-porcelain.com" width="419" height="82"><br></a></div>

    </div>
    <!--/ topDiv1-->
    @*<div class="header-lower">
            <div class="header-logo">
                @Html.Action("Logo", "Common")
            </div>
        </div>*@
</div>
